@use 'src/sass/abstracts/mixins' as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-color: var(--light);
  width: 37.8rem;
  height: 47.5rem;
  border-radius: 5rem;
  padding: 2rem 4rem;
  border: solid var(--stroke) 0.04rem;
  box-shadow: 0 2.5rem 5rem rgba(22, 25, 79, 0.05);
  transition: all 0.2s;
  cursor: pointer;

  @include media-mobile {
    width: 25rem;
    height: 42rem;
    padding: 2rem;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__title {
    @include roboto($ff: var(--ff-roboto-regular), $fs: 4rem, $lh: 1.5, $color: var(--black));
    text-align: center;
    @include media-mobile {
      font-size: 3rem;
    }
  }

  &__descr {
    @include roboto(
      $ff: var(--ff-roboto-regular),
      $fs: 2rem,
      $lh: 1.5,
      $color: var(--secundary-light)
    );
    @include media-mobile {
      font-size: 1.6rem;
    }
    text-align: center;
  }
}
