.controlls {
  margin-bottom: 30px;
  text-align: center;
}

.btn {
  width: 200px;
  padding: 15px;
  margin-right: 15px;
  background-color: #daeda3;
  font-size: 2rem;

  &:hover {
    background-color: #a3edb3;
  }

  &.active {
    outline: solid red 1px;
  }
}

.points {
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;

  span {
    margin-right: 30px;
  }
}

.words {
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;

  span {
    margin-right: 30px;
  }
}

.shape {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 15px;
  margin-bottom: 30px;

  outline: #98b34a solid 1px;
}

.timerWrapper {
  max-width: 200px;
  margin: 0 auto;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: solid #8ce506 3px;
  border-radius: 100%;
  font-size: 5rem;
}
