@use 'src/sass/abstracts/variables' as *;
@use 'src/sass/abstracts/mixins' as *;

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  @include roboto;
  font-size: 1.6rem;
  background-color: $neutral;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
