@use 'src/sass/abstracts/mixins' as *;

.button {
  @include roboto;
  cursor: pointer;
  border: 0.1rem solid var(--accent);
  background-color: var(--accent);
  color: var(--light);
  margin-right: 0.8rem;

  &:hover {
    background-color: var(--accent-light);
  }

  &_disabled {
    border: 0.1rem solid var(--secundary-light);
    background-color: var(--secundary-light);
    cursor: auto;

    &:hover {
      background-color: var(--secundary-light);
    }
  }
}
