.button {
  cursor: pointer;
  border: 1px solid red;
  background-color: black;
  color: white;
  margin-right: 0.8rem;
}

.disabled {
  background-color: gray;
  cursor: auto;

  &:hover {
    background-color: gray;
  }
}
