@use 'src/sass/abstracts/variables' as *;
@use 'src/sass/abstracts/mixins' as *;

.main {
  flex: 1 1 auto;
}

.section {
  &__hero {
    display: flex;
    padding: 2.5rem 13rem 6.7rem 15rem;
    justify-content: center;
    gap: 17rem;
    background-color: $secundary-dark;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12rem 7rem 20rem 7rem;
    gap: 11.5rem;
  }
}

.hero {
  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 9.5rem;
    gap: 3rem;
    max-width: 39.5rem;
  }

  &__title {
    @include roboto($ff: $ff-roboto-regular, $fs: 6rem, $fw: 600, $lh: 1.4, $color: $light)
  }

  &__text {
    @include roboto($ff: $ff-roboto-regular, $fs: 2rem, $fw: 400, $lh: 1.2, $color: $light);
    letter-spacing: 0.04rem;
  }
}

.menu {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    gap:5rem;
    row-gap: 9rem;
    max-width: 144rem;
  }

  &__title {
    @include roboto($ff: $ff-roboto-regular, $fs: 5rem, $fw: 700, $lh: 1.2, $color: $primary);
    text-align: center;
  }

  &__card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    background-color: $light;
    width: 37.8rem;
    height: 47.5rem;
    border-radius: 5rem;
    padding: 2rem 4rem;
    border: solid $stroke 0.04rem;
    box-shadow: 0 2.5rem 5rem rgba(22, 25, 79, 0.05);
    transition: all .2s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  } 
}

.card {
  &__title {
    @include roboto($ff: $ff-roboto-regular, $fs: 4rem, $lh: 1.5, $color: $black);
    text-align: center;
  }
  &__descr {
    @include roboto($ff: $ff-roboto-regular, $fs: 2rem, $lh: 1.5, $color: $secundary-light);
    text-align: center;
  }
}


