@use 'src/sass/abstracts/mixins' as *;

.header {
  background-color: var(--secundary-dark);
  @include roboto($ff: var(--ff-roboto-regular), $fs: 2rem, $lh: 1.5);

  @include media-tablet-large {
    font-size: 1.8rem;
  }

  @include media-tablet {
    font-size: 3rem;
  }

  &__wrapper {
    display: flex;
    padding: 6rem 8rem;
    justify-content: space-between;

    @include media-tablet-large {
      padding: 6rem 3rem;
    }
    @include media-mobile {
      padding: 6rem 1rem;
    }
  }
}

.logo {
  width: 6rem;
  height: 6.5rem;
  cursor: pointer;
}

.nav {
  display: flex;
  gap: 5rem;
  align-items: center;

  &_open {
    right: 0;
    transition: 1s;
  }

  @include media-mobile {
    gap: 2rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 5rem;

    @include media-tablet-large {
      gap:3rem;
    }

    @include media-tablet {
      position: fixed;
      top: 0;
      right: -100%;
      z-index: 10;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      width: 320px;
      height: 100%;
      padding-top: 248px;
      overflow-x: hidden;
      background-color: var(--secundary-dark);
      transition: 1s;

      &.nav__list_open {
        right: 0;
        transition: 1s;
        box-shadow: 0px 0px 2000px 1000px rgba(0,0,0,0.8);
      }
    }
  }

  &__link {
    color: var(--light);
    transition: all 0.2s;

    &:hover {
      color: var(--accent);
    }

    &_active {
      color: var(--accent);
    }
  }
}

.logBtn {
  @include roboto($ff: var(--ff-roboto-regular), $fs: 2rem, $lh: 1.5);
  width: 19.3rem;
  height: 5.6rem;
  border-radius: 1.5rem;
  background-color: var(--accent);
  color: var(--light);
  transition: all 0.2s;
  position: relative;
  z-index: 100;

  @include media-mobile {
    width: unset;
    min-width: 12rem;
  }

  &:hover {
    color: var(--stroke);
  }

  &:active {
    top: 0.2rem;
  }
}

.hamburger {
  z-index: 100;
  display: none;
  width: 30px;
  height: 22px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;

  &::after,
  &::before {
    content: "";
  }

  & .line,
  &::after,
  &::before {
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: var(--light);
    transition: all 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  & .line {
    top: calc(50% - 1px);
  }

  &:hover {
    cursor: pointer;
  }

  &_active {
    transform: rotate(90deg);
  }
}

@include media-tablet {
  .hamburger {
    position: relative;
    display: block;
  }
}