@use 'src/sass/abstracts/mixins' as *;

.footer {
  background-color: var(--neutral-dark);
  @include roboto($ff: var(--ff-roboto-regular), $fs: 2rem, $lh: 1.5);
  background-image: url('../../../public/assets/icons/footerWave.svg');
  background-position: top;
  background-repeat: repeat-x;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 14rem 8rem 5rem 8rem;
    background-image: url('../../../public/assets/icons/footerWave.svg');
  background-position: top;
  background-repeat: repeat-x;

    @include media-tablet {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
    @include media-mobile {
      padding: 14rem 0rem 5rem 0rem;
    }
  }
}

.schoolLink {
  display: flex;
  gap: 6.5rem;
  color: var(--secundary-dark);
  align-items: center;
}

.rsLink {
  transition: all 0.2s;

  &:hover {
    color: var(--secundary-light);
  }
}

.gitList {
  display: flex;
  gap: 2.5rem;
  @include media-mobile {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

.gitLink {
  color: var(--secundary-light);
  transition: all 0.2s;

  &:hover {
    color: var(--secundary-dark);
  }
}
