@use 'src/sass/abstracts/mixins' as *;

.member {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  background-color: var(--light);
  width: 37.8rem;
  border-radius: 5rem;
  padding: 2rem 4rem;
  border: solid var(--stroke) 0.04rem;
  box-shadow: 0 2.5rem 5rem rgba(22, 25, 79, 0.05);
  transition: all 0.2s;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &__name {
    @include roboto($ff: var(--ff-roboto-regular), $fs: 4rem, $lh: 1.5, $color: var(--black));
    text-align: center;
  }
  &__descr {
    @include roboto(
      $ff: var(--ff-roboto-regular),
      $fs: 2rem,
      $lh: 1.5,
      $color: var(--secundary-light)
    );
    text-align: center;
  }
}
