.pagination {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  color: var(--black);
  padding: 2rem 0;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  color: var(--black);
  background-color: transparent;
  transition: background-color 0.2s;

  &.active {
    background-color: var(--primary-light);
  }

  &:hover {
    background-color: var(--primary-light);
    cursor: pointer;
  }
}

.next,
.prev {
  svg {
    width: 2.4rem;
    fill: var(--black);
  }

  &:disabled {
    cursor: auto;

    svg {
      fill: var(--neutral-dark-2);
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.value {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 3.6rem;
  height: 3.6rem;
}

.ellipsis {
  padding-bottom: 1rem;
}
